@tailwind base;
@tailwind components;
@tailwind utilities;

.pages {
  width: 100%;
  overflow: visible auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .pages::-webkit-scrollbar {
    display: none !important;
  }
}
